 <!-- Header -->
 <header th:fragment="header-easy-pizza" class="bg-danger text-white shadow-lg">
    <div class="container py-4 d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="d-flex align-items-center mb-4 mb-md-0">
            <div class="fs-2 fw-bold d-flex align-items-center">
                <a href="/pizzas" class="fs-2 fw-bold d-flex align-items-center text-white text-decoration-none">
                    <span class="text-warning">Easy</span>
                    <span class="ms-1">Pizza</span>
                    <span class="ms-2">🍕</span>
                </a>
            </div>
        </div>
        <nav class="d-flex gap-4">
            <a href="#menu" class="text-white text-decoration-none hover:text-warning">Menu</a>
            <a href="#about" class="text-white text-decoration-none hover:text-warning">Chi Siamo</a>
            <a href="#contact" class="text-white text-decoration-none hover:text-warning">Contatti</a>
        </nav>
    </div>
</header>