<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-bootstrap-link :: head('Le nostre pizze')"></head>
<body>
    <div th:replace="fragments/header-easy-pizza :: header-easy-pizza"></div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Le nostre Pizze</h2>

        <!-- Bottone per creare una nuova pizza -->
        <div class="text-center mb-4">
            <a href="/new" class="btn btn-success">Crea Nuova Pizza</a>
        </div>

        <!-- Verifica se la lista delle pizze è vuota -->
        <div th:if="${#lists.isEmpty(pizze)}">
            <p class="text-center">Al momento non ci sono pizze disponibili. Torna presto!</p>
        </div>

        <!-- Grid delle pizze -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" th:unless="${#lists.isEmpty(pizze)}">
            <div th:each="pizza : ${pizze}" class="col">
                <div class="card shadow-sm">
                    <img th:src="@{${pizza.fotoUrl}}" class="card-img-top img-fluid" alt="Pizza Image" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${pizza.nome}">Pizza Name</h5>
                        <span class="badge bg-warning text-dark" th:text="${pizza.prezzo} + ' €'">Price</span>
                        <p class="card-text" th:text="${pizza.descrizione}">Pizza Description</p>
                        <span class="badge bg-info text-white" th:text="${pizza.categoria}">Categoria</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/bootstrap-script :: bootstrapScript"></div>
</body>
</html>